@(form: Form[(String,String)])(implicit flash: Flash)
@main("Administración Notaria APP"){

    <div>

                @helper.form(routes.ApplicationController.authenticate) {
            
            <h1>Sign in</h1>
            
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="text" name="login" placeholder="login" id="login" value="@form("login").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>
            
        }
        
        <p class="note">
            Try <em>guillaume@@sample.com</em> with <em>secret</em> as password.
        </p>


    </div>

}