@(LoginForm: Form[models.UserFormDataLogin],loginUser : Seq[models.UserFormDataLogin])(implicit request: RequestHeader)
@main("Administración Notaria APP"){

    <div>
        <form role="form" role="form" action='@routes.ApplicationController.login()' method="post" >
            <div class="login-form" >
                <div class="controls col-xs-offset-1 col-xs-8">
                    <div class="form-group">
                        <label>Usuario: </label>
                        <input type="text" id="login" name="login" value=""  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Contraseña: </label>
                        <input type="password" id="pass" name="pass" value=""  
                                    class="form-control" required>
                    </div>
                    <input type="submit" value="Iniciar sesión">
                </div>
            </div>
        </form>
        <div class="alert alert-danger well" data-ng-show="feedback != ''">
          {{ feedback }} !
        </div>
          </div>

}