@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notaria APP</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <style> /* copied from bootstrap-starter template */
    body { padding-top: 50px; }
     .help-inline  { color:#953333!important; }
     input:out-of-range { border:2px solid red; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Notaria APP</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="@routes.ApplicationController.index()">Inicio</a></li>
            <li><a href="@routes.ApplicationControllerNotaria.index()">Notarias</a></li>
            <li><a href="@routes.ApplicationControllerServicio.list()">Servicios</a></li>
            <li><a href="#opinion">Deja tu Opinión</a></li>
            <li><a href="#about">Quienes somos?</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="@routes.ApplicationController.login()">Iniciar sesión</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="starter-template">
        <h1>@title</h1>
        <div class="lead">
            @content
        </div>
      </div>
    </div>
  </body>
</html>