@(notariaForm: Form[models.NotariaFormData],notarias : Seq[models.Notaria])(implicit request: RequestHeader)

@main("Notarias") {

    <form id="notaria-data-form" role="form" action='@routes.ApplicationControllerNotaria.addNotaria()' method="post" 
        class="form-horizontal" align="center" autocomplete="off">

        <fieldset class="notaria-fieldset">
            <table>
                <tr>
                    <td align="left">
                        <div class="notaria-form" id="lblNombre">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong style="width: 100%">Nombre:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="nombre" name="nombre" value="" placeholder="Nombre Notaría" 
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-xs-1"></td>
                    
                    <td align="left">
                        <div class="notaria-form" id="lblDireccion">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Dirección:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="direccion" name="direccion" value="" 
                                    placeholder="Dirección" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="notaria-form" id="lblTelefono">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Teléfono:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="telefono" name="telefono" placeholder="Teléfono" 
                                    class="form-control" maxlength="10" required>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td align="left">
                        <div class="notaria-form" id="lblTelefono2">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Teléfono 2:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="telefono2" name="telefono2" placeholder="Teléfono 2" 
                                    class="form-control" maxlength="10">
                                </div>
                            </div>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td align="left">
                        <div class="notaria-form" id="lblHorario">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Horario:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="horario" name="horario" placeholder="Horario" 
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td align="left">
                        <div class="notaria-form" id="lblCorreo">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Correo:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="notaria-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="email" id="correo" name="correo" placeholder="Correo" 
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <div class="form-actions controls ynt-btn-xlarge" style="width: 75%; text-align: right;">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Agregar</button>
            </div>
        </fieldset>
        <br>
    </form>

    <div>
        <fieldset>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Horario</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @for(notaria <- notarias){
                    <tr>
                        <td>@notaria.id</td>
                        <td>@notaria.nombre</td>
                        <td>@notaria.direccion</td>
                        <td>@notaria.telefono</td>
                        <td>@notaria.horario</td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-default" title="Editar" 
                                onclick="location.href='@routes.ApplicationControllerNotaria.editNotaria(notaria.id)'">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-default" title="Eliminar" 
                                onclick="location.href='@routes.ApplicationControllerNotaria.deleteNotaria(notaria.id)'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-primary ynt-btn-orange"
                                onclick="location.href='@routes.ApplicationControllerServicio.index(notaria.id)'">
                                Ver Servicios
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
}