@(idNot: Long, ServicioForm: Form[models.ServicioFormData], servicios : Seq[(models.Servicio, models.NotariaShort)])(implicit request: RequestHeader)
@main("") {
    <form id="servicio-data-form" role="form" action='@routes.ApplicationControllerServicio.addServicio(idNot)' method="post" 
        class="form-horizontal" align="center" autocomplete="off">
        <fieldset>
            <div class="servicio-form">
                @Option(servicios).filterNot(_.isEmpty).map { notName =>
                    @notName.zipWithIndex.map { 
                        case ((servicio, notaria), index) => {
                            @{if(index == 0)
                                <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; 
                                text-decoration:none">Servicios {notaria.nombre}</label> 
                            }
                        }
                    }
                }
            </div>
            <br/>

            <table>
                <tr>
                    <td align="left">
                        <div class="servicio-form" id="lblNombre">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Nombre:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="left" style="width: 350px">
                        <div class="servicio-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="text" id="nombre" name="nombre" value="" placeholder="Nombre Servicio" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="servicio-form" id="lblValor">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Valor:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="left">
                        <div class="servicio-form">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <input type="number" id="valor" name="valor" placeholder="Valor Servicio" 
                                    class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="servicio-form" id="lblDescripcion">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="input-group">
                                    <strong>Descripción:</strong>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="left">
                        <div class="servicio-form" id="lastName_field_value">
                            <div class="controls col-xs-offset-3 col-xs-12">
                                <div class="form-group">
                                    <textarea id="descripcion" name="descripcion" placeholder="Descripción" 
                                     class="form-control" style="resize: none;" rows="3" maxlength="200"></textarea>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <div class="form-actions controls ynt-btn-xlarge" style="width: 75%; text-align: right;">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Agregar</button>
                <button type="button" class="btn btn-primary ynt-btn-orange"
                    onclick="location.href='@routes.ApplicationControllerNotaria.index()'">Volver</button>
            </div>

        </fieldset>
    </form>
    <br/>

    @Option(servicios).filterNot(_.isEmpty).map { servNot =>
        <div class="container" >
            <table class="table table-bordered table-hover" cellspacing="20">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th style="text-align: center;">Valor</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @servNot.map { 
                    case (servicio, notaria) => {
                        <tr>
                            <td>@servicio.id</td>
                            <td>@servicio.nombre</td>
                            <td>@servicio.descripcion</td>
                            <td style="text-align: right;">
                                @servicio.valor
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-default" title="Editar" 
                                    onclick="location.href='@routes.ApplicationControllerServicio.editServicio(servicio.id, idNot)'">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </td>
                             <td style="text-align: center;">
                                <button type="button" class="btn btn-default" title="Eliminar" 
                                    onclick="location.href='@routes.ApplicationControllerServicio.deleteServicio(servicio.id, idNot)'">
                                    <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span>
                                </button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-primary ynt-btn-orange"
                                    onclick="location.href='@routes.ApplicationControllerRequisito.index(servicio.id)'">
                                    Requisitos
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    }.getOrElse {
        <div class="well">
            <em>No hay datos para mostrar...</em>
        </div>
    }  
}